body {
	background-color: #DCDCDC;
	font-family: 'Courier New', monospace;
}

main {
	height: 600px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.caixa {
	background-color: #F5F5F5;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 400px;
	width: 80%;
}

#valor {
	font-size: 90px;
}

.botoes {
	display: flex;
	justify-content: center;
	gap: 100px;
	margin-top: 30px;
	width: 100%;
}

.botao {
	background-color: #DCDCDC;
	border: none;
	cursor: pointer;
	font-size: 50px;
	padding: 20px 0;
	width: 10%;
}

@media screen and (min-width: 280px) and (max-width: 456px) {
	.botoes {
		gap: 30px;
	}

	.botao {
		width: 37%;
	}
}

@media screen and (min-width: 457px) and (max-width: 1280px) {
	
}